{{#if shortURL}}
  <div class="container">
    <h2>Success! Please use this link:</h2>
    <a href="/{{ shortURL }}">
      <h4>http://localhost:3000/{{ shortURL }}</h4>
    </a>
  </div>
  <button class="btn btn-primary m-3">Copy</button>
{{else}}
  <form action="/" method="POST">
    <div class="container">
      <input type="url" class="form-control" id="originalURL" name="originalURL" 
        placeholder="Input URL here">
      <button type="submit" class="btn btn-outline-primary m-3">Shorten</button>
    </div>
  </form>
{{/if}}