{{#if shortURL}}
  <div class="container">
    <h2>Success! Please use this link:</h2>
    <a href="/{{ shortURL }}">
      <h4 id="text">http://localhost:3000/{{ shortURL }}</h4>
    </a>
  </div>
  <button class="btn btn-primary m-3" id="copy-btn">Copy</button>

  <script>
    const copyBtn = document.querySelector('#copy-btn')
    const text = document.querySelector('#text')

    copyBtn.addEventListener('click', function onCopyClicked () {
      navigator.clipboard.writeText(text.innerText)
        .then(() => alert('Copy successfully!'))
        .catch(error => console.log(error))
    })
  </script>

{{else}}
  <form action="/" method="POST">
    <div class="container">
      <input type="url" class="form-control" id="originalURL" name="originalURL" 
        placeholder="Input URL here">
      <button type="submit" class="btn btn-outline-primary m-3">Shorten</button>
    </div>
  </form>
{{/if}}